@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.error-404{
    font-family: Paytone One;
    text-align: center;
    font-size: 15rem;
    color: #e2d207 ;
    text-shadow: 3px -3px 28px #d80b28;
    
}

.error-p{
    font-family: Paytone One;
    text-align: center;
    font-size: 5rem;
    color: #e2d207;
    text-shadow: 3px -3px 28px #d80b28;
    
}
.btn-font {
    font-family: Paytone One;
    font-size: 1.6rem;
    font-weight: 100;
    color: #0b0b0b;
    border: none;
    background: #d80b28;
    transition: 0.5s;
}

    .btn-font:hover {
        transform: scale(1.05);
        background: #e2d207 ;
        font-weight: 500;
    }


.card-color{
    background-color: #0b0b0b;
}