@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Bungee+Shade&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


body {
    padding: 0;
    margin: 0;
    background-color: black;
}

.error-404{
    font-family: Bungee Shade;
    text-align: center;
    font-size: 15rem;
    color: #e2d207 ;
    text-shadow: 3px -3px 28px #d80b28;
    
}

.error-p{
    font-family: Raleway;
    text-align: center;
    font-size: 5rem;
    color: #e2d207;
    text-shadow: 3px -3px 28px #d80b28;
    
}
.btn-font {
    font-family: Raleway;
    font-size: 1.6rem;
    font-weight: 100;
    color: #0b0b0b;
    border: none;
    background: #d80b28;
    transition: 0.5s;
}

    .btn-font:hover {
        transform: scale(1.05);
        background: #e2d207 ;
        font-weight: 500;
    }


.card-color{
    background-color: #0b0b0b;
}

@media (max-width: 780px){

    .error-404{
        font-size: 8rem;
            }

        .error-p{
            font-size: 3rem;
        }

        .btn-font {
            
            font-size: 1.0rem;
            font-weight: 100;
            
}

@media (max-width: 600px){

    .error-404{
        font-size: 6rem;
            }

        .error-p{
            font-size: 1.5rem;
        }
}