@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800;900&display=swap");
.encabezado-fotos {
  background-color: rgba(17, 16, 16, 0);
}

.texto-fotos {
  color: #0b0010;
  background-color: rgba(241, 235, 235, 0.2);
  justify-content: center;
}

.texto-parrafo {
  color: #f1f4f7;
  justify-content: flex-end;
}

.btn-font {
  font-family: "Paytone One";
  font-size: 1.6rem;
  font-weight: 100;
  color: #0b0b0b;
  border: none;
  transition: 0.5s;
}
.btn-font:hover {
  transform: scale(1.05);
  background: #e2d207;
  font-weight: 500;
}

.pie__icono--p {
  width: 80px;
  transition: 0.2s;
}
.pie__icono--p:hover {
  transform: scale(1.05);
  filter: drop-shadow(5px 5px 5px #000000);
}

.gallery {
  display: flex;
  padding: 2px;
  transition: 0.3s;
}
.gallery:hover .gallery__image {
  filter: grayscale(1);
}
.gallery__column {
  display: flex;
  flex-direction: column;
  width: 25%;
}
.gallery__link {
  margin: 2px;
  overflow: hidden;
}
.gallery__link:hover .gallery__image {
  filter: grayscale(0);
}
.gallery__link:hover .gallery__caption {
  opacity: 1;
}
.gallery__thumb {
  position: relative;
}
.gallery__image {
  display: block;
  width: 100%;
  transition: 0.3s;
}
.gallery__image:hover {
  transform: scale(1.1);
}
.gallery__caption {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 25px 15px 15px;
  width: 100%;
  font-family: "Raleway", sans-serif;
  font-size: 16px;
  color: #f1f4f7;
  opacity: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5) 0%, rgba(255, 255, 255, 0) 100%);
  transition: 0.3s;
}

nav {
  background-color: #0b0b0b;
  padding: 5px;
  margin: 5px;
  display: flex;
  flex-direction: row;
}
nav ul li a {
  font-family: "Paytone One";
  color: #e2d207 !important;
}

.nav-animacion ul li a {
  transition: 0.3s;
}

nav ul li a:hover {
  color: #d80b28 !important;
  transform: scale(1.07);
}

.icono-nav {
  color: #d80b28;
  font-size: 20px;
}

.nav-row {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

table {
  border: 1px solid #f1f4f7;
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  table-layout: fixed;
}

table caption {
  font-size: 1.5em;
  margin: 0.5em 0 0.75em;
}

table tr {
  background-color: rgba(0, 0, 0, 0);
  border: 2px solid rgb(0, 0, 0);
  padding: 0.35em;
}

table th,
table td {
  border: 2px solid rgb(0, 0, 0);
  padding: 0.625em;
  text-align: center;
}

table th {
  font-size: 0.85em;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 600px) {
  table {
    border: 0;
  }
  table caption {
    font-size: 1.3em;
  }
  table thead {
    border: none;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
  table td {
    border-bottom: 1px solid rgb(0, 0, 0);
    font-size: 0.8em;
  }
  table td::before {
    content: attr(data-label);
    float: left;
    font-weight: bold;
    text-transform: uppercase;
  }
  table td:last-child {
    border-bottom: 0;
  }
}
footer {
  background: linear-gradient(#d80b28 2%, #e2d207 95%);
}
footer p {
  display: flex;
  justify-content: space-evenly;
  font-family: "Paytone One";
  font-size: 2.2rem;
  text-align: center;
  color: #0b0010;
  margin: 0px;
}
@media (max-width: 768px) {
  footer p {
    font-size: 1.5rem;
    margin: 0px;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  background-color: #0b0b0b;
  background-repeat: repeat;
  overflow-x: hidden;
}

p {
  font-family: "Paytone One";
  font-weight: 400;
}

.text-h2 {
  color: #C5C6C7;
  font-size: 1rem;
  text-align: center;
}

.pie__icono--p {
  width: 40px;
}

.logo {
  width: 50%;
  height: auto;
}

section {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(17, 16, 16, 0);
  width: 100%;
  height: auto;
  padding: 5px 5px;
  margin: 5px;
  font-family: "Paytone One";
  color: #C5C6C7;
  align-items: center;
  line-height: 30px;
  font-size: 1rem;
}

.container-grid {
  display: grid;
  align-items: center;
  grid-template-columns: 1fr;
  grid-template-rows: auto;
  grid-template-areas: "section" "nav" "header" "main" "footer";
}

.video--grid {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(6, 1fr);
  grid-template-areas: "iframe" "iframe" "iframe" "iframe" "iframe" "iframe";
}

.video--grid iframe,
.video--grid object,
.video--grid embed {
  padding: 10px;
  width: 100%;
  height: auto;
}

#iframe {
  grid-area: iframe;
}

.horarios {
  color: #C5C6C7;
  font-family: "Paytone One";
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.5);
  text-shadow: 3px 3px 20px #d80b28, -2px 1px 30px #e2d207;
}

.main__articulo__dim {
  display: flex;
  flex-direction: row;
  align-items: center;
  align-content: center;
  justify-content: center;
  height: auto;
  width: 75%;
  padding: 5px 5px;
  object-position: center;
  margin: 5px 5px;
}

.label-text {
  text-shadow: 3px 3px 20px #d80b28, -2px 1px 30px #e2d207;
  font-family: "Paytone One";
  font-size: 1.1rem;
  font-weight: 200;
}

.encabezado__titulos--textcenter, .encabezado-fotos {
  display: flex;
  align-items: center;
  justify-content: center;
  color: #C5C6C7;
  font-family: "Paytone One";
  font-size: 2rem;
  font-weight: 200;
  text-decoration: underline;
  padding-bottom: 10px;
  text-align: center;
  color: #e2d207;
}

.main__parrafo--italic, .texto-fotos, .texto-parrafo {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-family: "Raleway";
  font-size: 1rem;
  line-height: 30px;
}

.card-font {
  font-family: "Raleway";
  text-align: center;
  background-color: #0b0b0b;
  color: #f1f4f7;
  font-size: 2rem;
  width: 100%;
  height: 100vh;
  padding-top: 20px;
}

.card-texto {
  font-size: "Raleway";
  color: #e2d207;
  background-color: rgba(8, 8, 8, 0);
}

.card-img {
  display: flex;
  justify-content: space-between;
  transition: 0.5s;
}
.card-img:hover {
  filter: drop-shadow(4px 5px 10px #e2d207);
  transform: scale(1.05);
}

.card-border {
  border-radius: 15% 15%;
}

.card-border-inv {
  border-radius: 10% 0%;
}

.card-title {
  font-family: "Paytone One";
  font-size: 3rem;
  font-weight: 700;
  padding-bottom: 10px;
  text-align: center;
  color: #e2d207;
  text-shadow: 3px -3px 28px #d80b28;
}

.card-size {
  height: auto;
}

.card-bg {
  background-color: rgba(8, 8, 8, 0);
  border-color: rgba(8, 8, 8, 0);
  border-radius: 5px;
  width: 100wv;
}

.card-align {
  display: flex;
  flex-direction: row-reverse;
}

.card_overlay-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: #79031d;
  font-family: "Paytone One";
  font-size: 2rem;
  font-weight: 700;
  padding: auto;
  text-shadow: 3px -3px 28px #e2d207;
}

.card_overlay-parrafo {
  display: flex;
  flex-direction: row;
  color: #79031d;
  justify-content: center;
  font-family: "Raleway";
  font-size: 1rem;
  line-height: 20px;
  padding: auto;
}

.card-pos {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-start;
}

.card-pos-inv {
  display: flex;
  flex-direction: column-reverse;
  align-items: flex-end;
}

.acc-color {
  background-color: rgba(16, 14, 14, 0);
  font-family: "Paytone One";
  font-size: 1.2rem;
  color: #C5C6C7 !important;
  font-weight: 200;
}

.acc-btn {
  background-color: rgba(16, 14, 14, 0);
}

.acc-h1 {
  background-color: rgba(8, 8, 8, 0);
  font-family: "Raleway";
  font-size: 1.2rem;
  color: #f3eaea;
  text-align: center;
  margin-top: 10px;
}

.br-font {
  font-family: "Paytone One";
  font-size: 1rem;
  margin: 10px;
  padding: 10px;
}

#section {
  grid-area: section;
}

#nav {
  grid-area: nav;
}

#header {
  grid-area: header;
}

#main {
  grid-area: main;
}

#footer {
  grid-area: footer;
}

@keyframes animacion--main {
  0% {
    background-image: url(../img/fondo.webp);
  }
  25% {
    background-image: url(../img/fondo1.webp);
  }
  50% {
    background-image: url(../img/fondo2.webp);
  }
  75% {
    background-image: url(../img/fondo3.webp);
  }
  100% {
    background-image: url(../img/fondo.webp);
  }
}
.animacion-main {
  animation-name: animacion--main;
  animation-duration: 10s;
  animation-iteration-count: infinite;
}

.pie__icon--sep {
  padding: 10px 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.google-maps {
  display: flex;
  margin-left: 10%;
  margin-right: 10%;
  padding-bottom: 20px;
  width: 80vw;
  height: 65vh;
}

@media (min-width: 768px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(10vh 20vh 40vh 20vh 10vh);
    grid-template-areas: "section section" "nav nav" "header header" "main main" "footer footer";
  }
  .logo {
    width: 75%;
    height: auto;
  }
  .card-title {
    font-size: 5rem;
  }
  .main__articulo__dim {
    padding: 20px;
    margin: 20px auto;
  }
  .text-h2 {
    font-size: 1.5rem;
  }
  .video--grid {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas: "iframe iframe" "iframe iframe" "iframe iframe";
  }
  nav {
    color: #f1f4f7;
    font-size: 1.5rem;
    padding: 10px;
    width: 100vw;
  }
  nav li ul li {
    font-size: 1.5rem;
  }
  .main__parrafo--italic, .texto-fotos, .texto-parrafo {
    font-size: 1.5rem;
  }
  .encabezado__titulos--textcenter, .encabezado-fotos {
    font-size: 3rem;
  }
  .card_overlay-title {
    font-size: 3rem;
    font-weight: 700;
    text-shadow: 3px -3px 28px #e2d207;
  }
  .card_overlay-parrafo {
    font-size: 2rem;
    line-height: 40px;
    padding: auto;
  }
  .pie__icono--p {
    width: 60px;
  }
  section {
    justify-content: center;
    align-items: center;
    line-height: 30px;
    font-size: 1rem;
  }
  .card-pos {
    flex-direction: row;
    align-items: center;
  }
  .card-pos-inv {
    flex-direction: row-reverse;
  }
}
@media (min-width: 1024px) {
  .container-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(5, auto);
    grid-template-areas: "section section section" "nav nav nav" "header header header" "main main main" "footer footer footer";
  }
  .logo {
    width: 100%;
    height: auto;
  }
  .horarios {
    font-size: 2rem;
  }
  .main__articulo__dim {
    padding: 50px;
    margin: 50px auto;
  }
  .label-text {
    font-size: 1.3rem;
    font-weight: 300;
  }
  .text-h2 {
    font-size: 3.2rem;
    font-weight: 600;
    padding: 10px;
  }
  .video--grid {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas: "iframe iframe iframe" "iframe iframe iframe";
  }
  nav {
    margin: auto;
    font-size: 2.2rem;
    padding: 10px;
    width: 97vw;
  }
  nav li ul li {
    font-size: 2.2rem;
  }
  .acc-color {
    font-family: "Paytone One";
    font-size: 2rem;
    color: #C5C6C7;
    font-weight: 300;
    padding: auto;
  }
  .acc-h1 {
    font-size: 2rem;
  }
  .encabezado__titulos--textcenter, .encabezado-fotos {
    font-size: 6rem;
    font-weight: 300;
    width: 100%;
  }
  .main__parrafo--italic, .texto-fotos, .texto-parrafo {
    font-size: 2rem;
  }
  .pie__icon--sep {
    width: 100%;
    flex-direction: row;
  }
  .card_overlay-title {
    font-size: 6rem;
    font-weight: 700;
    text-shadow: 3px -3px 28px #e2d207;
  }
  .card_overlay-parrafo {
    font-size: 4rem;
    font-weight: 700;
    line-height: 60px;
    padding-top: 40px;
  }
  .pie__icono--p {
    width: 80px;
  }
}
.row > div {
  padding: 0 4px !important;
}

img {
  margin-top: 8px;
  vertical-align: middle;
}

/*# sourceMappingURL=main.css.map */
