nav {
    background-color: map-get($map:$colores, $key:'black');
    padding: 5px;
    margin: 5px;
    display: flex;
    flex-direction: row;






    ul li a {
        font-family: $fontMain;
        color: map-get($map: $colores, $key: 'yellow') !important;



    }







}



.nav-animacion ul li a {

    transition: .3s;
}

nav ul li a:hover {
    color: map-get($map: $colores, $key: 'red') !important;
    transform: scale(1.07);
}


.icono-nav {
    color: map-get($map: $colores, $key: 'red');
    font-size: 20px;
}

.nav-row {

    display: flex;
    flex-direction: row;
    justify-content: space-between;



}